
ion-col{
  padding-top: 50px
}

ion-img, img{
  transition: opacity 8s;
  opacity: 0;
  height: 10rem;
  width: 100%;
  object-fit: cover !important;
  min-height: 10rem;
}
img.ng-lazyloaded {
  opacity: 1;
}


// ion-card-header {
//       display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
//     flex-direction: column;
// }

ion-card{
padding-bottom: 30px;
height: 100%;
border-radius: 15px;
}
.card-footer {
position: absolute;
bottom: 0;
width: 100%;
}

ion-card-title{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// $xs:0
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;

@media only screen and (max-width: $sm) {

  ion-img, img {
    // height: auto !important;
    height: 14rem;
    min-height: 14rem;
  }
  ion-card{
    padding-bottom: 0;
    height: auto;
  }
  .card-footer {
    position: relative;
    width: 100%;
  }
  
  ion-col{
    padding-top: 0 !important
  }
}

ion-text{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noticia-source-name{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  // width: ;
  // flex:  0 1 138px;
  flex: 1;
  width: 70px;
}




