<ion-card color="dark">
  <ion-card-header class="ion-no-padding">
    <img [lazyLoad]="noticia.image" [errorImage]="errorImage"/>
    <ion-card-title class="ion-padding-horizontal">
      {{noticia.title}}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-margin-top">
    <ion-text>{{noticia.description}}</ion-text>
  </ion-card-content>
<div class="card-footer">
  <div style="display:flex; flex-wrap: wrap;justify-content: space-between;">
    <div style="display:flex;justify-content: center;align-items: center; margin-left: 20px; flex:1">
      <span class="text-primary" style="margin-right: 5px;">{{ indice + 1 }}.</span>
      <span class="noticia-source-name">
        {{noticia.author}}
      </span>
    </div>
    <ion-button fill="clear" class="" style="margin:0" (click)="lanzarMenu()">
      <ion-icon name="ellipsis-vertical" color="light"></ion-icon>
    </ion-button>
  </div>
</div>
</ion-card>