ion-slide{

    height: 100vh;
}

super-tabs-toolbar{
    z-index: 0;
}

:host {  
    --super-tabs-toolbar-background: var(--ion-color-dark);
    --st-indicator-color: var(--ion-color-danger);
    --st-base-color-inactive: rgb(255, 255, 255);
    --st-base-color-active: var(--ion-color-danger);
    --st-scrollable-toolbar-padding-left: 0
  }

  super-tabs-toolbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ion-button{
    position:fixed;
    z-index: 999;
  }


.no-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

ion-icon{
    font-size: 45px;
}

