<app-header title ="Favoritos"></app-header>
<ion-content color="dark">



    <!-- <div class="content-center">
        <ion-icon name="heart-dislike"></ion-icon>
        <p>No hay favoritos</p>
    </div> -->

    <app-noticias *ngIf ="dataLocalService.noticias.length > 0"
        [noticias] = "dataLocalService.noticias"
        [enFavoritos] = "true">
    </app-noticias>

    <div class="content-center" *ngIf =" dataLocalService.noticias.length === 0">
        <ion-icon name="heart-dislike"></ion-icon>
        <p>No hay favoritos</p>
    </div> 

</ion-content>

  

